<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AwesomeNetworkM35</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main-page.css" />
    <link rel="stylesheet" href="~/css/base-styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="background-main">
    <header class="border-bottom header background-white">
            <div class="container">
                <div class="topnav">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 300.0000305175781 137.9547119140625" overflow="visible"><defs id="SvgjsDefs23565"></defs><g id="SvgjsG23566" transform="scale(0.6493506493506493)" opacity="1"><g id="SvgjsG23567" class="JYXevMFN1" transform="translate(161.69999999999996, 0) scale(2.0382352941176465)" light-content="false" non-strokable="false" fill="#3e72af"><path fill-rule="evenodd" d="M34 68C15.222 68 0 52.778 0 34V2a2 2 0 0 1 2-2h32c18.778 0 34 15.222 34 34S52.778 68 34 68zM3.112 4H4v30c0 16.569 13.431 30 30 30 16.569 0 30-13.431 30-30C64 17.431 50.569 4 34 4H3.112zM34 58c-13.255 0-24-10.745-24-24V12a2 2 0 0 1 2-2h22c13.255 0 24 10.745 24 24S47.255 58 34 58zM13.442 14l.558-.522V34c0 11.046 8.954 20 20 20s20-8.954 20-20-8.954-20-20-20H13.442z"></path></g><g id="SvgjsG23568" class="text" transform="translate(230.94, 211.41022715266766) scale(1)" light-content="false" fill="#3e72af"><path d="M-209.16 0L-199.52 0L-203.6 -42.28L-214.95 -42.28L-230.94 0L-221.18 0L-218.37 -9.27L-209.46 -9.27ZM-216.3 -16.17L-210.38 -35.82L-209.71 -16.17Z M-151.93 -42.28L-160.89 -42.28L-169.07 -7.32L-167.91 -42.28L-177.55 -42.28L-186.52 -7.32L-184.45 -42.28L-193.6 -42.28L-194.39 0L-182.19 0L-174.2 -32.89L-175.35 0L-163.03 0Z M-126.67 -42.28L-148.57 -42.28L-154.49 0L-132.71 0L-131.67 -6.96L-144.12 -6.96L-142.53 -18.12L-132.46 -18.12L-131.49 -24.83L-141.61 -24.83L-140.09 -35.45L-128.74 -35.45Z M-104.43 -41.92C-106.36 -42.85 -108.63 -43.32 -111.23 -43.32C-113.99 -43.32 -116.49 -42.73 -118.7 -41.55C-120.92 -40.37 -122.66 -38.75 -123.92 -36.7C-125.18 -34.65 -125.81 -32.34 -125.81 -29.77C-125.81 -27.17 -125.21 -25.08 -124.01 -23.49C-122.81 -21.9 -120.81 -20.42 -118 -19.04C-115.64 -17.86 -114.04 -16.82 -113.18 -15.92C-112.33 -15.03 -111.9 -13.83 -111.9 -12.32C-111.9 -10.45 -112.47 -8.94 -113.61 -7.78C-114.75 -6.62 -116.27 -6.04 -118.18 -6.04C-119.77 -6.04 -121.16 -6.36 -122.36 -6.99C-123.56 -7.62 -124.81 -8.58 -126.12 -9.88L-131.3 -5C-128.01 -0.98 -123.66 1.04 -118.25 1.04C-115.19 1.04 -112.46 0.39 -110.04 -0.92C-107.62 -2.22 -105.73 -4 -104.36 -6.25C-103 -8.51 -102.32 -11.04 -102.32 -13.85C-102.32 -16.66 -102.98 -18.91 -104.3 -20.62C-105.63 -22.33 -107.67 -23.88 -110.44 -25.26C-112.8 -26.4 -114.36 -27.38 -115.13 -28.19C-115.91 -29 -116.29 -30.02 -116.29 -31.24C-116.29 -32.7 -115.82 -33.91 -114.86 -34.87C-113.9 -35.83 -112.59 -36.3 -110.92 -36.3C-109.62 -36.3 -108.42 -36.03 -107.32 -35.48C-106.23 -34.93 -105.15 -34.11 -104.09 -33.01L-99.27 -37.83C-100.78 -39.62 -102.49 -40.98 -104.43 -41.92Z M-69.53 -39.32C-71.78 -41.99 -75.07 -43.32 -79.38 -43.32C-83.73 -43.32 -87.36 -41.96 -90.27 -39.23C-93.18 -36.51 -95.32 -32.98 -96.71 -28.65C-98.09 -24.31 -98.78 -19.69 -98.78 -14.77C-98.78 -9.56 -97.65 -5.62 -95.4 -2.96C-93.14 -0.29 -89.85 1.04 -85.54 1.04C-81.23 1.04 -77.61 -0.32 -74.68 -3.02C-71.75 -5.73 -69.6 -9.24 -68.21 -13.58C-66.83 -17.91 -66.14 -22.55 -66.14 -27.52C-66.14 -32.72 -67.27 -36.66 -69.53 -39.32ZM-85.3 -32.49C-83.91 -35.03 -82.15 -36.3 -79.99 -36.3C-78.53 -36.3 -77.45 -35.73 -76.76 -34.6C-76.06 -33.46 -75.72 -31.63 -75.72 -29.1C-75.72 -25.81 -76.02 -22.38 -76.63 -18.82C-77.24 -15.26 -78.24 -12.23 -79.62 -9.73C-81.01 -7.23 -82.8 -5.98 -84.99 -5.98C-86.42 -5.98 -87.48 -6.54 -88.2 -7.66C-88.91 -8.78 -89.26 -10.58 -89.26 -13.06C-89.26 -16.27 -88.95 -19.68 -88.32 -23.28C-87.69 -26.88 -86.68 -29.95 -85.3 -32.49Z M-29.9 0L-26.48 -42.28L-38.62 -42.28L-46.55 -12.69L-46.92 -42.28L-58.21 -42.28L-66.63 0L-57.54 0L-54.97 -16.53C-54.12 -22.23 -53.45 -28.29 -52.96 -34.72L-52.17 -4.52L-43.14 -4.52L-34.6 -34.78C-35.08 -31.77 -35.56 -28.68 -36.03 -25.5C-36.5 -22.33 -36.87 -19.38 -37.16 -16.66L-38.93 0Z M2.5 -42.28L-19.4 -42.28L-25.32 0L-3.54 0L-2.5 -6.96L-14.95 -6.96L-13.36 -18.12L-3.29 -18.12L-2.32 -24.83L-12.45 -24.83L-10.92 -35.45L0.43 -35.45Z M27.88 0L33.8 -42.28L25.63 -42.28L23.37 -25.02C22.84 -20.79 22.58 -16.58 22.58 -12.39L22.64 -7.93L17.94 -42.28L6.59 -42.28L0.67 0L8.91 0L10.92 -15.5C11.53 -20.3 11.84 -25.46 11.84 -31L11.84 -34.35L16.6 0Z M61.38 -42.28L39.48 -42.28L33.56 0L55.34 0L56.38 -6.96L43.93 -6.96L45.52 -18.12L55.58 -18.12L56.56 -24.83L46.43 -24.83L47.96 -35.45L59.31 -35.45Z M89.94 -42.28L62.91 -42.28L61.87 -34.9L70.53 -34.9L65.59 0L74.99 0L79.93 -34.9L87.92 -34.9Z M131.97 -42.28L123 -42.28L114.83 -7.32L115.99 -42.28L106.35 -42.28L97.38 -7.32L99.45 -42.28L90.3 -42.28L89.51 0L101.71 0L109.7 -32.89L108.54 0L120.87 0Z M160.13 -39.32C157.87 -41.99 154.59 -43.32 150.28 -43.32C145.93 -43.32 142.3 -41.96 139.39 -39.23C136.48 -36.51 134.33 -32.98 132.95 -28.65C131.57 -24.31 130.88 -19.69 130.88 -14.77C130.88 -9.56 132 -5.62 134.26 -2.96C136.52 -0.29 139.8 1.04 144.12 1.04C148.43 1.04 152.05 -0.32 154.98 -3.02C157.9 -5.73 160.06 -9.24 161.44 -13.58C162.83 -17.91 163.52 -22.55 163.52 -27.52C163.52 -32.72 162.39 -36.66 160.13 -39.32ZM144.36 -32.49C145.74 -35.03 147.51 -36.3 149.67 -36.3C151.13 -36.3 152.21 -35.73 152.9 -34.6C153.59 -33.46 153.94 -31.63 153.94 -29.1C153.94 -25.81 153.63 -22.38 153.02 -18.82C152.41 -15.26 151.42 -12.23 150.03 -9.73C148.65 -7.23 146.86 -5.98 144.66 -5.98C143.24 -5.98 142.17 -6.54 141.46 -7.66C140.75 -8.78 140.39 -10.58 140.39 -13.06C140.39 -16.27 140.71 -19.68 141.34 -23.28C141.97 -26.88 142.98 -29.95 144.36 -32.49Z M187.5 -18.24C192.74 -21.09 195.37 -25.46 195.37 -31.36C195.37 -34.86 194.22 -37.55 191.92 -39.45C189.62 -41.34 186.13 -42.28 181.46 -42.28L170.6 -42.28L164.68 0L174.07 0L176.39 -16.29L179.02 -16.29L183.77 0L193.48 0ZM177.31 -22.94L179.08 -35.51L181.15 -35.51C182.78 -35.51 183.97 -35.16 184.72 -34.47C185.47 -33.78 185.85 -32.64 185.85 -31.06C185.85 -28.78 185.33 -26.86 184.29 -25.29C183.26 -23.72 181.58 -22.94 179.26 -22.94Z M195.79 0L205.19 0L211.17 -42.28L201.71 -42.28ZM215.87 0L226.06 0L218.19 -22.7L231.06 -42.28L221.54 -42.28L208.67 -22.58Z"></path></g></g></svg></a>
                    <partial name="_SearchLayoutPartial" />
                     <partial name="_LoginPartial" />
                </div>
            </div>
    </header>
    <div class="container background-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AwesomeNetwork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
